{{ if and (eq .osid "linux-debian") .personal -}}
#!/bin/sh

echo "Installing pass-cli..."
curl -fsSL https://proton.me/download/pass-cli/install.sh | bash

pass-cli login

pass-cli ssh-agent load

{{ end -}}
