{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-fedora" -}}

{{ $packages := list
     "bat"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "openssh-server"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh"
     "lsd"
     "btop"
     "gpg" -}}

{{ $hyprpackages := list
     "dunst"
     "pipewire"
     "wireplumber"
     "hyprpaper"
     "wireplumber"
     "aquamarine"
     "cliphist"
     "glaze"
     "gpu-screen-recorder"
     "hyprcursor"
     "hyprgraphics"
     "hypridle"
     "hyprland"
     "hyprland-contrib"
     "hyprland-git"
     "hyprland-guiutils"
     "hyprland-plugins"
     "hyprland-plugins-git"
     "hyprland-protocols"
     "hyprland-qt-support"
     "hyprlang"
     "hyprlauncher"
     "hyprlock"
     "hyprpicker"
     "hyprpolkitagent"
     "hyprpaper"
     "hyprpwcenter"
     "hyprqt6engine"
     "hyprshot"
     "hyprshutdown"
     "hyprsunset"
     "hyprsysteminfo"
     "hyprtoolkit"
     "hyprutils"
     "hyprwayland-scanner"
     "hyprwire"
     "kitty"
     "lua"
     "matugen"
     "nwg-look"
     "python-imageio-ffmpeg"
     "python-screeninfo"
     "qt6ct"
     "quickshell"
     "waypaper"
     "xcur2png"
     "xdg-desktop-portal-hyprland"
     "waybar" -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if eq .osid "linux-fedora" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if eq .osid "linux-arch" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list "xclip") -}}
{{ end -}}

{{ if .personal -}}
{{   $packages = concat $packages (list "tmux" "timeshift") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{- else if eq .osid "linux-fedora" -}}
{{ $sudo }}dnf update
{{ $sudo }}dnf install -y {{ $packages | join " " }}
{{- else if eq .osid "linux-arch" -}}
{{ $sudo }}pacman -Syu
{{ $sudo }}pacman -Sy {{ $packages | join " " }}
{{ $sudo }}pacman -Sy {{ $hyprpackages | join " " }}
{{ end -}}



{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
