{{ if eq .osid "linux-fedora" -}}
#!/bin/sh

dnf copr enable scottames/ghostty
dnf install ghostty

{{ else if eq .osid "linux-arch" -}}
#!/bin/sh

# Install ghostty terminal emulator
yay -S --noconfirm --needed ghostty

# make ghostty the default terminal
xdg-settings set default-terminal ghostty

{{ end -}}
