{{- if is_devpod -}}
#!/bin/bash

{{- else -}}

#!/bin/bash

set -ex

if [ "$SHELL" != "/bin/zsh" ]; then
    command -v zsh | sudo tee -a /etc/shells
    sudo chsh -s $(which zsh) $USER
    source .zshrc
fi

{{- end -}}
