{{- if and (.is_debian) (not (.is_devpod)) (not (.is_server)) -}}
#!/usr/bin/env bash

echo "Installing other applications..."

# install devpod
curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod
# devpod options
devpod provider add docker
devpod provider use docker
devpod context set-options -o DOTFILES_URL=https://github.com/mngste/dotfiles
devpod ide use none

# install kubectl
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl


# install fresh
curl https://raw.githubusercontent.com/sinelaw/fresh/refs/heads/master/scripts/install.sh | sh


{{- else if .is_arch_like -}}
#!/usr/bin/env bash

echo "Installing applications from Pacman..."

sudo pacman -S --noconfirm curl htop tmux
{{- end -}}
