{{- if or (.is_devpod) (.is_server) -}}
#!/usr/bin/env bash

echo "Update system..."
sudo apt-get update -y

echo "Installing applications from apt..."

{{ range .packages.devpod.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

{{- else if and (not (.is_devpod)) (not (.is_server)) (.is_debian) -}}
#!/usr/bin/env bash

echo "Update system..."
sudo apt-get update -y

echo "Installing applications from apt..."

{{ range .packages.debian.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

echo "Installing pass-cli..."
curl -fsSL https://proton.me/download/pass-cli/install.sh | bash

echo "install repo vivaldi"
curl -fsSL https://repo.vivaldi.com/archive/linux_signing_key.pub | sudo gpg --dearmor -o /usr/share/keyrings/vivaldi.gpg
echo "add source"
cat <<EOF | sudo tee /etc/apt/sources.list.d/vivaldi.sources
Types: deb
URIs: https://repo.vivaldi.com/stable/deb/
Suites: stable
Components: main
Architectures: amd64 arm64 armhf
Signed-By: /usr/share/keyrings/vivaldi.gpg
EOF
echo "refresh"
sudo apt-get update
echo "install vivaldi"
sudo apt-get install vivaldi-stable

{{- end -}}
