{{ if eq .osid "linux-fedora" -}}
#!/bin/sh

sudo dnf copr enable lihaohong/yazi
sudo dnf install yazi -y
sudo dnf install zoxide -y

{{ else if eq .osid "linux-arch" -}}
#!/bin/sh

sudo pacman -S --needed --noconfirm yazi ffmpeg 7zip jq poppler fd ripgrep fzf zoxide resvg imagemagick

{{ end -}}
