{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-fedora" "linux-arch" -}}

{{ $packages := list
     "bat"
     "curl"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "openssh"
     "ripgrep"
     "shellcheck"
     "btop" -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if eq .osid "linux-fedora" -}}
{{   $packages = concat $packages (list "chezmoi" "rofi" "fastfetch" "zsh") -}}
{{ end -}}

{{ if eq .osid "linux-arch" -}}
{{ $archPackages := list 
     "zsh" 
     "chezmoi" 
     "eza" 
     "mako" 
     "fuzzel" 
     "base-devel" 
     "waybar" 
     "xdg-desktop-portal-gtk" 
     "xdg-desktop-portal-gnome" 
     "swaybg" 
     "swayidle" 
     "xwayland-satellite" 
     "udiskie" 
     "obs-studio" 
     "nautilus"
     "firefox"
   -}}
{{   $packages = concat $packages $archPackages -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list "xclip") -}}
{{ end -}}

{{ if .personal -}}
{{   $packages = concat $packages (list "tmux" ) -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# debian base
{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

# fedora
{{- else if eq .osid "linux-fedora" -}}
{{ $sudo }}dnf update
{{ $sudo }}dnf install -y {{ $packages | join " " }}

# arch
{{- else if eq .osid "linux-arch" -}}
{{ $sudo }}pacman -Syu
{{ $sudo }}pacman -Sy {{ $packages | join " " }}
{{ end -}}



{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
