{{- if and (.is_devpod) (.is_debian) -}}
#!/usr/bin/env bash

echo "Update system..."
sudo apt-get update -y

echo "Installing applications from apt..."

{{ range .packages.devpod.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

echo "Installing pass-cli..."
curl -fsSL https://proton.me/download/pass-cli/install.sh | bash

{{- else if and (not (.is_devpod)) (.is_debian) -}}
#!/usr/bin/env bash

echo "Update system..."
sudo apt-get update -y

echo "Installing applications from apt..."

{{ range .packages.debian.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

{{- end -}}
