{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-fedora" -}}

{{ $packages := list
     "bat"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "openssh-server"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh"
     "lsd"
     "btop"
     "gpg" -}}

{{ $hyprpackages := list
     "dunst"
     "pipewire"
     "wireplumber"
     "pipewire" -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if eq .osid "linux-fedora" -}}
{{   $packages = concat $packages (list "") -}}
{{ end -}}

{{ if eq .osid "linux-arch" -}}
{{   $packages = concat $packages (list "xdg-desktop-portal-hyprland") -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list "xclip") -}}
{{ end -}}

{{ if .personal -}}
{{   $packages = concat $packages (list "tmux" "timeshift") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{- else if eq .osid "linux-fedora" -}}
{{ $sudo }}dnf update
{{ $sudo }}dnf install -y {{ $packages | join " " }}
{{ $sudo }}dnf install -y {{ $hyprpackages | join " " }}
{{- else if eq .osid "linux-arch" -}}
{{ $sudo }}pacman -Syu
{{ $sudo }}pacman -Sy {{ $packages & $hyprpackages | join " " }}
{{ $sudo }}pacman -Sy {{ $hyprpackages | join " " }}
{{ end -}}



{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
