{{- if .is_vm -}}
#!/usr/bin/env bash

echo "Installing vm pkgs"
{{ range .packages.vm.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

echo "configure xrdp"
sudo adduser xrdp ssl-cert
sudo systemctl restart xrdp
sudo systemctl enable xrdp
echo "/usr/bin/startplasma-x11" > ~/.xsession

{{- end -}}


