{{- if .personal -}}
#!/usr/bin/env bash

mkdir ~/.local/share/fonts
echo "Installing Jetbrain nerd font"
curl -OL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz
unxz JetBrainsMono.tar.xz
tar xvf JetBrainsMono.tar -C ~/.local/share/fonts
rm JetBrainsMono.tar
fc-cache -f -v

{{- end -}}



