{{- if and (.personal) (eq .osid "linux-fedora") -}}
#!/bin/sh

sudo dnf install jetbrains-mono-fonts -y

mkdir ~/.local/share/fonts
echo "Installing Jetbrain nerd font"
curl -OL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz
unxz JetBrainsMono.tar.xz
tar xvf JetBrainsMono.tar -C ~/.local/share/fonts
rm JetBrainsMono.tar
fc-cache -f -v

{{- else if and (.personal) (eq .osid "linux-arch") -}}

#!/bin/sh
sudo pacman -Sy ttf-jetbrains-mono-nerd ttf-jetbrains-mono

{{- end -}}



