{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
#!/bin/sh

echo "Installing neovim latest..."
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
sudo rm -rf /opt/nvim-linux-x86_64
sudo tar -C /opt -xzf nvim-linux-x86_64.tar.gz
rm nvim-linux-x86_64.tar.gz

{{ else if eq .osid "linux-fedora" -}}
#!/bin/sh
sudo dnf install -y neovim python3-neovim
{{ end -}}
