{{- $name := "mngste" -}}
{{- $email := "mangouste@mosaurus.com" -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  name: {{ $name }}
  email: {{ $email }}
git:
  autoCommit = true
  autoPush = true
