autoload -Uz compinit
compinit

# You may need to manually set your language environment
# export LANG=en_US.UTF-8
source_if_exists () {
    if test -r "$1"; then
        source "$1"
    fi
}

export EDITOR='nvim'
export GITUSER="mngste"
export WORKSPACE=$HOME/workspace
export DOTFILES=$HOME/.local/share/chezmoi
export SCRIPTS="$WORKSPACE/scripts"
export TERM=screen-256color
export XDG_CONFIG_HOME=$HOME/.config
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"


# Uses:
#   Plugins:      fast-syntax-highlighting, zsh-autosuggestions,
#                 zsh-history-substring-search, zsh-vi-mode
#   Prompt:       starship
#   Navigation:   zoxide, fzf, fd
#   CLI tools:    eza, bat, nvim, ripgrep
#   Node:         nvm

# =========================================================
# History
# =========================================================

HISTFILE="$HOME/zsh/history"
HISTSIZE=100000
SAVEHIST=100000

setopt APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_FIND_NO_DUPS

## ALIASES DIRECTORIES ##
# source_if_exists "$HOME/zsh-alias/aliases.zsh"

## PATH ##
export PATH=$HOME/bin:$SCRIPTS:$PATH
export GOROOT=/usr/local/go
export GOPATH=$HOME/go
export LOCAL_BIN=$HOME/.local
export PATH=$GOPATH/bin:$GOROOT/bin:$LOCAL_BIN/bin:$PATH
export ZDOTDIR=$HOME/.config/zsh

## script to use yazi and exit to current file's folder ##
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
	command rm -f -- "$tmp"
}

## ZSH PLUGINS ##
# Source usefulsh plugins
source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# ~~~~~~~~~~~~~~~ Completion ~~~~~~~~~~~~~~~~~~~~~~~~

fpath+=~/.zsh/zsh-completitions/src
fpath+=~/.zfunc

zstyle ':completion:*' menu select

# fzf search 
if [[ -f /usr/share/fzf/key-bindings.zsh ]]; then
  source /usr/share/fzf/key-bindings.zsh
  source /usr/share/fzf/completion.zsh
fi 

# =========================================================
# Modular Config Files
# =========================================================

# fzf configuration
source "$ZDOTDIR/fzf.zsh"

# Aliases
source "$ZDOTDIR/aliases.zsh"

eval "$(zoxide init zsh)"
eval "$(starship init zsh)"
eval "$(ssh-agent -s)"
