{{ if (or (eq .chezmoi.osRelease.id "linuxmint") (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian")) -}}
#!/bin/sh

sudo apt-get update -y

{{ range .packages.mint.pkgs -}}
sudo apt-get install {{ . | quote }} -y
{{ end -}}

{{ else if (eq .chezmoi.osRelease.id "fedora") -}}
#!/bin/sh

sudo dnf update -y

echo "add vivaldi repo"
sudo dnf config-manager addrepo --from-repofile=https://repo.vivaldi.com/stable/vivaldi-fedora.repo

echo "install packages"
{{ range .packages.fedora.pkgs -}}
sudo dnf install {{ . | quote }} -y
{{ end -}}

{{ else if (eq .chezmoi.os "android") -}}
#!/bin/sh

echo "install packages"
{{ range .packages.termux.pkgs -}}
pkg install {{ . | quote }} -y
{{ end -}}

{{ end -}}

# fish
# sudo chsh -s /usr/bin/fish $(whoami)

# tmux plugin manager
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# install devpod
curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod

# make bat by default
mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

echo "reboot !"
