HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host thinkcenter
  HostName thinkcenter

Host github.com
  User git

Host thinkpad
  User mngt

Host proxmox
  HostName proxmox
  User root

Host debian
  HostName debian

Host windows
  HostName windows
  User mngt
