window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
  geometry-corner-radius 10
  clip-to-geometry true 
  opacity 0.9
    background-effect {
      blur true
      xray false
    }
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id=r#"org.kde.dolphin"#
    opacity 0.92
    background-effect {
        blur true
        xray false
    }
    geometry-corner-radius 10
    clip-to-geometry true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
